/**
* Core
*/
.usp-rating-box {
  position: relative;
}

.usp-rating-box__inner > *:not(:last-child) {
  margin-right: 6px;
}

.usp-rating-box_history_can .usp-rating-box__value:hover {
  cursor: pointer;
}

/**
* Stars
*/
.usp-rating-stars {
  color: orange;
  font-size: 24px;
  vertical-align: bottom;
}

.usp-rating-stars_size_small {
  font-size: 18px;
}

.usp-rating-box_type_stars.usp-rating-box_vote_can .usp-rating-box__vote {
  cursor: pointer;
}

.usp-rating-box_type_stars.usp-rating-box_vote_can .usp-rating-stars:hover .usp-rating-box__vote i:before {
  opacity: 1;
}

.usp-rating-box_type_stars.usp-rating-box_vote_can .usp-rating-box__vote:hover ~ .usp-rating-box__vote i:before {
  opacity: .3;
}

/**
* Plus-minus
*/

.usp-rating-plus,
.usp-rating-minus {
  font-size: 20px;
  vertical-align: bottom;
}

.usp-rating-plus.usp-rating-plus_size_small,
.usp-rating-minus_size_small {
  font-size: 16px;
}

.usp-rating-minus {
  color: var(--uspRed-500);
}

.usp-rating-plus {
  color: var(--uspGreen-500);
}

.usp-rating-box_type_plus-minus.usp-rating-box_vote_can .usp-rating-box__vote:hover {
  cursor: pointer;
  opacity: .7;
}

/**
* Likes
*/
.usp-rating-likes {
  font-size: 20px;
  color: var(--uspRed-400);
  vertical-align: bottom;
}

.usp-rating-likes.usp-rating-likes_size_small {
  font-size: 16px;
}

.usp-rating-box_type_likes.usp-rating-box_vote_can .usp-rating-box__vote:hover {
  cursor: pointer;
  opacity: .7;
}

/**
* Votes list
*/

.usp-rating-votes {
  padding: 6px;
  opacity: 0;
  position: absolute;
  background-color: var(--uspWhite);
  box-shadow: var(--uspBox400);
  transition: opacity var(--uspLoad);
  min-width: 150px; 
  z-index: 9;
}

.usp-rating-votes .usp-rating-votes__list {
  max-height: 150px;
  max-width: 300px;
  overflow: auto;
}

.usp-rating-votes__list::-webkit-scrollbar {
  width: 5px;
}
.usp-rating-votes__list::-webkit-scrollbar-thumb {
  background-color: var(--uspGray-400);
  border-radius: 5px;
}
.usp-rating-votes__list::-webkit-scrollbar-track {
  background-color: var(--uspGray-100);
}

.usp-rating-votes__vote {
  margin: 3px 6px 3px 3px;
}

/**
* History list
*/

.usp-rating-history__vote {
  margin: 12px 0;
}