/**
* Core
*/
.usp-rating-box {
  position: relative;
}

.usp-rating-box__inner,
.usp-rating-box__vote {
  display: flex;
  align-items: center;
}

.usp-rating-box__inner > *:not(:last-child) {
  margin-right: 6px;
}

.usp-rating-box_history_can .usp-rating-box__value:hover {
  cursor: pointer;
}

/**
* Stars
*/
.usp-rating-box__stars {
  display: flex;
}

.usp-rating-box_type_stars .usp-rating-box__vote i {
  font-size: 24px;
}

.usp-rating-box_type_stars .usp-rating-box__value {
  font-size: 18px;
}

.usp-rating-box_type_stars .usp-rating-box__vote {
  color: orange;
}

.usp-rating-box_type_stars.usp-rating-box_vote_can .usp-rating-box__vote {
  cursor: pointer;
}

.usp-rating-box_type_stars.usp-rating-box_vote_can .usp-rating-box__stars:hover .usp-rating-box__vote i:before {
  opacity: 1;
}

.usp-rating-box_type_stars.usp-rating-box_vote_can .usp-rating-box__vote:hover ~ .usp-rating-box__vote i:before {
  opacity: .3;
}

/**
* Plus-minus
*/

.usp-rating-box_type_plus-minus .usp-rating-box__vote i {
  font-size: 20px;
}

.usp-rating-box_type_plus-minus .usp-rating-box__value {
  font-size: 16px;
}

.usp-rating-box_type_plus-minus.usp-rating-box_vote_can .usp-rating-box__vote:hover {
  cursor: pointer;
  opacity: .7;
}

.usp-rating-box_type_plus-minus .usp-rating-box__vote_type_minus {
  color: var(--uspRed-500);
}

.usp-rating-box_type_plus-minus .usp-rating-box__vote_type_plus {
  color: var(--uspGreen-500);
}

/**
* Likes
*/
.usp-rating-box_type_likes .usp-rating-box__vote i {
  font-size: 20px;
}

.usp-rating-box_type_likes .usp-rating-box__value {
  font-size: 18px;
}

.usp-rating-box_type_likes .usp-rating-box__vote {
  color: var(--uspRed-400);
}

.usp-rating-box_type_likes.usp-rating-box_vote_can .usp-rating-box__vote:hover {
  cursor: pointer;
  opacity: .7;
}

/**
* Votes list
*/
.usp-rating-votes {
  opacity: 0;
  position: absolute;
  padding: 6px;
  background-color: var(--uspWhite);
  box-shadow: var(--uspBox400);
  transition: opacity var(--uspLoad);
  min-width: 150px; 
  z-index: 9;
}

.usp-rating-votes__list {
  max-height: 150px;
  overflow: auto;
}

.usp-rating-votes__list::-webkit-scrollbar {
  width: 5px;
}
.usp-rating-votes__list::-webkit-scrollbar-thumb {
  background-color: var(--uspGray-400);
  border-radius: 5px;
}
.usp-rating-votes__list::-webkit-scrollbar-track {
  background-color: var(--uspGray-100);
}

.usp-rating-votes__vote {
  display: flex;
  margin: 3px;
}

.usp-rating-votes__vote > div:not(:last-child) {
  margin-right: 6px;
}